{{ include('layout/header.html.twig') }}

<div class="mx-auto max-w-2xl py-4 lg:max-w-none">
    {% if from == "posts" %}
        <a href="/posts/read?id={{ comment.id_post }}&current_page={{ current_page }}#comments">{{ include('heroicons/return.svg') }}</a>
    {% else %}
        <a href="/comments/validation">{{ include('heroicons/return.svg') }}</a>
    {% endif %}

    <div class="mt-4">
        <div class="mx-auto max-w-2xl mb-2 text-center">
            {% if error %}
                <ul class="text-sm text-red-500 mt-3">
                    <li>{{ error }}</li>
                </ul>
            {% endif %}
        </div>
        <form method="POST" class="relative mb-6">
            <input type="hidden" name="_method" value="PATCH" />
            <div class="bg-white overflow-hidden rounded-lg border border-blue-200 shadow-sm focus-within:border-blue-500 focus-within:ring-1 focus-within:ring-blue-500">
                <label for="content" class="sr-only">Commentaire</label>
                <textarea rows="4" name="content" id="content" class="pt-2.5 block h-full w-full resize-none border-0 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">{{ comment.content }}</textarea>
                <input id="id_comment" name="id_comment" type="hidden" value="{{ comment.id }}">

                <div aria-hidden="true" class="h-14"></div>
            </div>

            <div class="absolute inset-x-px bottom-0">
                <div class="flex items-center justify-end space-x-3 border-t border-blue-100 px-2 py-2 sm:px-3">
                    <div class="flex-shrink-0">
                        <button type="submit" class="inline-flex items-center rounded-md bg-yellow-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-yellow-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-800">Éditer</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

{{ include('layout/footer.html.twig') }}