{{ include('layout/header.html.twig') }}

<div class="mx-auto max-w-2xl py-8 sm:py-24 lg:max-w-none lg:py-10">

    <div class="space-y-12 lg:grid lg:grid-cols-2 lg:gap-x-6 lg:space-y-0">
        <div class="group relative border border-blue-200 rounded-xl p-11 my-auto">
            <p class="text-2xl text-blue-900">Emeline Gineys</p>
            <p class="mt-6 italic text-lg text-blue-800">Un nouveau chat pitre pour votre histoire !</p>
            <p class="mt-4 text-lg text-gray-700">Pour en savoir plus, vous pouvez consulter mon <a href="/pdf/CV-Emeline-Gineys.pdf" class="text-blue-900 hover:text-blue-700 underline hover:no-underline">CV</a> ou mes réseaux sociaux.</p>
            <div class="mt-4 grid grid-cols-3 place-items-center fill-blue-900">
                <a href="https://github.com/Meline-Mira">{{ include('font-awesome/github.svg') }}</a>
                <a href="https://www.linkedin.com/in/emeline-gineys-35b2b714b">{{ include('font-awesome/linkedin.svg') }}</a>
                <a href="https://twitter.com/MelineMira">{{ include('font-awesome/twitter.svg') }}</a>
            </div>
        </div>

        <div class="group relative">
            <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-w-2 sm:aspect-h-1 sm:h-80 lg:aspect-w-1 lg:aspect-h-1">
                <img src="/images/photo-emeline-gineys.jpg" alt="photo d'Emeline Gineys" class="h-full w-full object-cover object-center">
            </div>
        </div>
    </div>
</div>

<div class="isolate bg-blue-100 border border-blue-200 rounded-xl max-w-2xl py-8 lg:py-16 px-6 lg:px-8 lg:w-3/5 md:mx-auto">
    <div class="mx-auto max-w-2xl text-center">
        <h2 class="text-3xl font-bold tracking-tight text-blue-900 sm:text-4xl">Formulaire de contact</h2>
        {% if errors %}
            <ul class="text-sm text-red-500 mt-3">
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <p class="mt-2 text-lg leading-8 text-gray-700">En cas de question ou si vous voulez devenir administrateur de ce blog, merci de remplir ce formulaire.</p>
    </div>
    {% if logged_in %}
        <form action="/" method="POST" class="mx-auto mt-16 max-w-xl sm:mt-20">
            <div class="grid grid-cols-1 gap-y-6 gap-x-8 sm:grid-cols-2">
                <div class="sm:col-span-2">
                    <label for="message" class="block text-sm font-semibold leading-6 text-gray-900">Message</label>
                    <div class="mt-2.5">
                        <textarea name="message" id="message" rows="10" class="block w-full rounded-md border-0 py-2 px-3.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6">{{ post.message }}</textarea>
                    </div>
                </div>
                <div class="flex gap-x-4 sm:col-span-2">
                    <div class="flex h-6 items-center">
                        <label class="switch">
                            <input type="checkbox" name="confidentiality">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="text-sm leading-6 text-gray-700">
                        En sélectionnant ceci, vous acceptez notre
                        <a href="#" class="font-semibold text-blue-600">politique&nbsp;de&nbsp;confidentialité</a>.
                    </div>
                </div>
            </div>
            <div class="mt-10">
                <button type="submit" class="block w-full rounded-md bg-blue-800 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-blue-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-800">Envoyer</button>
            </div>
        </form>
    {% else %}
        <p class="mt-2 text-lg text-center font-semibold leading-8 text-gray-700">Pour envoyer un formulaire de contact, vous devez être connecté(e).</p>
    {% endif %}
</div>


{{ include('layout/footer.html.twig') }}
