<div class="group relative bg-blue-100 rounded-lg px-5 py-4 mb-6 text-gray-700">
    <p class="font-bold">{{ comment.first_name }} {{ comment.last_name }}</p>
    <p class="my-2 text-sm text-gray-500">Dernière modification le {{ comment.updated_at|format_datetime('long', 'none', locale='fr') }}</p>
    <p>{{ comment.content|nl2br }}</p>
    {% if logged_in and user_role == 'admin' %}
        <a href="/comments/edit?id_post={{ comment.id_post }}&current_page={{ current_page }}&id_comment={{ comment.id }}" class="mt-2 inline-flex items-center rounded-md bg-yellow-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-yellow-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-800">Éditer</a>
        <a href="/comments/delete?id_post={{ comment.id_post }}&current_page={{ current_page }}&id_comment={{ comment.id }}" class="mt-2 ml-4 inline-flex items-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-800">Effacer</a>
    {% endif %}
</div>