{{ include('layout/header.html.twig') }}

<div class="mx-auto max-w-2xl py-4 lg:max-w-none">

    <a href="list?current_page={{ current_page }}">{{ include('heroicons/return.svg') }}</a>

    <p class="my-6 text-gray-700 italic">{{ post.summary }}</p>

    <div class="space-y-12 lg:grid lg:grid-cols-3 gap-x-12 lg:space-y-0">
        <div class="group relative">
            <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-w-2 sm:aspect-h-1 sm:h-80 lg:aspect-w-1 lg:aspect-h-1">
                <img src="{{ post.image_url }}" alt="{{ post.image_description }}" class="h-full w-full object-cover object-center">
            </div>
            <p class="mt-4 text-lg text-gray-700">Auteur : {{ post.first_name }} {{ post.last_name }}</p>
            <p class="text-sm text-gray-700 italic">Dernière modification le {{ post.updated_at|format_datetime('long', 'none', locale='fr') }}</p>
        </div>

        <div class="group relative lg:col-span-2 my-auto text-lg text-gray-700">
            {{ post.content|nl2br }}
        </div>
    </div>
</div>

<div class="mx-auto max-w-2xl py-4 lg:max-w-none">

    <h1 class="mb-6 text-xl font-bold tracking-tight text-blue-900 underline">Commentaires</h1>

    <div>
        <div class="mx-auto max-w-2xl text-center">
            {% if errors %}
                <ul class="text-sm text-red-500 mt-3">
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <form action="/comments/add" method="POST" class="relative mb-6">
            <div class="bg-white overflow-hidden rounded-lg border border-blue-200 shadow-sm focus-within:border-blue-500 focus-within:ring-1 focus-within:ring-blue-500">
                <label for="content" class="sr-only">Commentaire</label>
                <textarea rows="4" name="content" id="content" class="pt-2.5 block h-full w-full resize-none border-0 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="Tapez votre commentaire..."></textarea>
                <input id="id_post" name="id_post" type="hidden" value="{{ post.id }}">
                <input id="current_page" name="current_page" type="hidden" value="{{ current_page }}">

                <div aria-hidden="true" class="h-14"></div>
            </div>

            <div class="absolute inset-x-px bottom-0">
                <div class="flex items-center justify-end space-x-3 border-t border-blue-100 px-2 py-2 sm:px-3">
                    <div class="flex-shrink-0">
                        <button type="submit" class="inline-flex items-center rounded-md bg-blue-800 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-800">Publier</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="space-y-6" id="comments">
        {% for comment in comments %}
            {% if loop.index <= 5 %}
                {{ include('partials/comments/comments-layout.html.twig') }}
            {% endif %}
        {% endfor %}

        {% if comments_number > 5 %}
        <button type="button" id="comment-button" class="inline-flex items-center justify-center rounded-md bg-blue-800 p-2 text-blue-300 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" aria-controls="comments-display" aria-expanded="false">
            <span class="sr-only">Lister tous les commentaires</span>
            <!-- Menu open: "hidden", Menu closed: "block" -->
            {{ include('heroicons/comment-button-closed.svg') }}

            <!-- Menu open: "block", Menu closed: "hidden" -->
            {{ include('heroicons/comment-button-open.svg') }}
        </button>

        <div class="hidden" id="comments-display">
            {% for comment in comments %}
                {% if loop.index > 5 %}
                    {{ include('partials/comments/comments-layout.html.twig') }}
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}

    </div>

{{ include('layout/footer.html.twig') }}
